<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <h2>{{titulo}}</h2>
      </nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #form="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="control-label col-sm-2" for="ID">ID:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="ID" placeholder="ID" name="ID" required [(ngModel)]="this.solicitudActual.ID"
                    [disabled]="desabilitado">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>

            <div class="col-12">
              <div class="form-group">
                <label class="control-label col-sm-2" for="producto">Producto:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="producto" placeholder="Producto" name="producto" required [(ngModel)]="this.solicitudActual.producto">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cantidad">Cantidad:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad" required [(ngModel)]="this.solicitudActual.cantidad">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cantidadMin">Cant_Mínima:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="cantidadMin" placeholder="Cantidad Mínima" name="cantidadMin" required [(ngModel)]="this.solicitudActual.cantidadMin">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cantidadMax">Cant_Máxima:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="cantidadMax" placeholder="Cantidad Máxima" name="cantidadMax" required [(ngModel)]="this.solicitudActual.cantidadMax">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="gravado">Gravado:</label>
                <div class="col-md-12">
                  <input type="text" class="form-control" id="gravado" placeholder="Gravado" name="gravado" required [(ngModel)]="this.solicitudActual.gravado">
                </div>
              </div>
            </div>

          </div>

          <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="guardarDatos()">INGRESAR</button>
        </form>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
