<div class="row">
  <div class="col-12 col-md-6">
    <nb-card>
      <nb-card-header>
        <i class="ion-ios-people"></i>
        Clientes</nb-card-header>
      <nb-card-body>Este modulo posee todo lo que conlleva el CRUD de la parte de clientes de nuestro sistema. Apenas se entre se encontrará
        con una lista que contiene a todos los clientes agregados hasta el momento cargados desde la base de datos por medio
        del Backend, sino existen clientes la lista se encontrará vacía. También contiene un botón de agregar y otros para
        editar y/o eliminar a alguno de los clientes.
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-md-6">
    <nb-card>
      <nb-card-header>
        <i class="ion-ios-cart"></i>
        Productos</nb-card-header>
      <nb-card-body>Este modulo posee todo lo que conlleva el CRUD de la parte de productos de nuestro sistema. Apenas se entre se encontrará
        con una lista que contiene a todos los productos agregados hasta el momento cargados desde la base de datos por medio
        del Backend, sino existen productos la lista se encontrará vacía. También contiene un botón de agregar y otros para
        editar y/o eliminar a alguno de los productos.</nb-card-body>
    </nb-card>
  </div>

</div>
