<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col">
            <h2>Inventario</h2>
          </div>
          <div class="col">
            <div class="input-group">

              <input type="text" class="form-control" name="buscar" [(ngModel)]="buscar" placeholder="Buscar...">

              <div class="input-group-prepend">
                <span class="input-group-text color-icon text-light" id="basic-addon1">
                  <i class="fa fa-search"></i>
                </span>
              </div>

              <div class="input-group-btn search-panel">
                <select class='form-control' id="dropdownbox" required [(ngModel)]='opcionSeleccionada'>
                  <option class='opcion  bg-light text-dark' *ngFor='let opcion of opciones' [value]="opcion">{{opcion}}</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="button-group col align-self-end">
          <button class="float-right btn btn-success" (click)="abrirModal(null)">Agregar
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <table class="table">
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Cantidad Mínima</th>
            <th>Cantidad Máxima</th>
            <th>Gravado</th>
          </tr>

          <tr *ngFor="let data of datosInventario | filtro:buscar:opcionSeleccionada | paginate: { itemsPerPage: 6, currentPage: p }">
            <td>{{data.ID}}</td>
            <td>{{data.producto}}</td>
            <td>{{data.cantidad}}</td>
            <td>{{data.cantidadMin}}</td>
            <td>{{data.cantidadMax}}</td>
            <td>{{data.gravado}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="abrirModal(data)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarInventario(data)">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </table>

      </nb-card-body>
      <nb-card-footer>
        <pagination-controls class="my-pagination pagination justify-content-center" maxSize="9" (pageChange)="p = $event" autoHide="true"
          previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
